@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "../components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
    padding-top: 2em;
    margin-top: 2em;
    border-top: #eee 1px solid;
}

a {
  color: #00B7FF;
}
