extends layout

block content
    .container
        h1 Register
        p Welcome to #{title}

        form.form-horizontal(role='form', method="POST").col-md-6
          .form-group
            label.col-sm-2.control-label(for='inputName') Name
            .col-sm-10
              input#inputName.form-control(type='text', placeholder='Your full name', required, name='name')
          .form-group
            label.col-sm-2.control-label(for='inputRFID') RFID
            .col-sm-10
              input#inputRFID.form-control(type='text', placeholder='Check the screen after swiping', required, name='rfid')
              p.help-block You can obtain your RFID by scanning the reader and checking the screen
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-default(type='submit') Register
